table tr th::first-letter {
    text-transform:capitalize;
}
/*
span > .toggletablespan + h1 {
  display: inline-block;
}

h1:after{
  content: '\A';
  white-space: pre;
}

h2:after{
  content: '\A';
  white-space: pre;
}
span > h2 {
  display: inline-block;
}
*/
canvas {
  border: 1px solid black;
  background: url('/source/kampffeld/hintergrund/Brucke.jpg');
}
.toggletablespan {
  float:left;
  width: 2%;
  height: auto;
  margin-bottom: 1px;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
