table tr th::first-letter {
    text-transform:capitalize;
}
.toggletablespan + h1 {
  display: inline-block;
}
.toggletablespan + h2 {
  display: inline-block;
}
canvas {
  border: 1px solid black;
}

.toggletablespan {
  width: 3%;
  height: auto;
  margin-bottom: 1%;
}
