table tr th::first-letter {
    text-transform:capitalize;
}
h1 {
  display: inline;
}
h2 {
  display: inline;
}
span {
  float: left;
}
canvas {
  border: 1px solid black;
}

.toggletablespan {
  width: 2%;
  height: auto;
}
